<%- include(partials + 'header.ejs' ) %>

    <div id="content">
        <div class="container-fluid">
            <div class="col-lg-12 text-center">
                <div class="d-sm-flex align-items-center justify-content-md-center mb-4" data-title>
                    <h1 class="h3 mb-0 text-gray-800">Documientos
                    </h1>
                </div>
            </div>

            <div class="row col-md-12 mb-2 align-items-center">
                <div class="d-flex justify-content-center align-items-center" data-loading></div>
            </div>

            <div class="row justify-content-md-center">
                <div class="col-md-10" data-view-file></div>

                <div class="col-md-10">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-danger">Tabla del Documientos</h6>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0"
                                data-table></table>
                        </div>
                    </div>
                    <div class="card shadow mb-3">
                        <div class="card-body text-center">
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add">Agregar archivo</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="add" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Agregar archivo</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <form data-form-add>
                    <div class="modal-body">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <input type="text" placeholder="Nombre" class="form-control" name="name" id="name"
                                    required>
                            </div>
                            <div class="form-group col-md-12">
                                <textarea placeholder="Descripción" class="form-control" name="description"
                                    id="description" rows="2" required></textarea>
                            </div>
                            <div class="form-group col-md-6 text-center">
                                <label for="">Tipo:</label>
                                <br>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="type"
                                        id="type1" value="1" checked>
                                    <label class="form-check-label" for="type1">Archivo</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="type"
                                        id="type2" value="2">
                                    <label class="form-check-label" for="type2">Link</label>
                                </div>
                            </div>
                            <div class="form-group col-md-6 text-center">
                                <label for="">Disponible para baixar:</label>
                                <br>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="download"
                                        id="download1" value="1" checked>
                                    <label class="form-check-label" for="download1">Sí</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="download"
                                        id="download2" value="2">
                                    <label class="form-check-label" for="download2">No</label>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <input type="url" placeholder="Url" class="form-control d-none" name="url" id="url">
                            </div>
                            <div class="form-group col-md-12">
                                <input type="file" placeholder="Archivo" class="form-control" name="file" id="file"
                                    required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                            <button data-add-button type="submit" class="btn btn-success"><i class="fas fa-check">Agregar</i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <%- include(partials + 'script.ejs' ) %>

        <script type="module" src="../js/controllers/fileController.js"></script>
        <script type="module" src="../js/controllers/loginController.js"></script>
        <script type="module" src="../js/controllers/menuController.js"></script>

        <%- include(partials + 'footer.ejs' ) %>