<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="site">
    <meta name="author" content="raphael martinez batista">
    <title>LOGISTICA
    </title>
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="../img/touch-icon-iphone.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/touch-icon-iphone.png">
    <link href="../css/sb-admin-2.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="../css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css" rel="stylesheet">

</head>

<body id="page-top sidebar" class="off-canvas hide-extras ">
    <div id="wrapper  ">
        <div id="content-wrapper " class="d-flex flex-column">
            <header>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="container px-4 px-lg-5 text-white-50">
                        <a class="sidebar-brand d-flex align-items-center justify-content-center"
                            href="./vehiculos.html">
                            <div class="sidebar-brand-icon">
                                <img width="110" height="30" src="../img/Logowhite.png" alt="Sunset Logo">
                            </div>
                        </a>


                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mb-2 mb-lg-0 ms-lg-4  dropdown ">

                                <a data-username class="nav-link dropdown-toggle text-white-50" id="dromenu" href="#"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
                                <a data-selector-menu class="nav-link bg-dark text-white-50" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                                    aria-controls="navbarToggleExternalContent" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </a>

                                <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                                    <li data-menu-adm><a class="dropdown-item text-white-50"
                                            href="./adm.html">Administracion</a></li>
                                    <li>
                                        <hr class="dropdown-divider text-white-50" />
                                    </li>
                                    <li><a class="dropdown-item text-white-50" data-toggle="modal"
                                            data-target="#logoutModal">Salir</a></li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>

            <div class="col-md-12 mb-4">
                <div class="container-fluid bg-dark fixed-menu responsive" data-modal-menu>
                    <div class="collapse p-4 responsive" id="navbarResponsive">
                        <div class="row align-items-start">
                            <div class="col-md-3 text-white features-menu" data-fast-btns>
                                <p class="h6"><i class="fas fa-star"></i> Favoritos</p>
                                <p class="small text-white-50" data-fav-help>Agregue favoritos haciendo clic en la
                                    estrella junto al nombre del servicio.</p>
                                <p class="small text-white-50 mb-1" data-favs-list></p>
                                <p class="h6 pt-2"><i class="fa fa-history"></i> Accedido recientemente</p>
                                <p class="small text-white-50 mb-1" data-recent></p>


                            </div>
                            <div class="col-md-9 column-menu">
                                <div class="row">
                                    <div class="col-md-3 text-white">
                                        <p data-menu-title class="h6"><i class="fas fa-file-alt"></i> Informes Generales</p>
                                        <div class="d-block mb-1" data-div-link>
                                            <a href="" data-fav data-fav-name="Control de Viajes"
                                                data-fav-action="data-menu-travel"><i class="btn-fav fas fa-star"></i></a>
                                            <a class="menu-item d-inline nav-link menu-link text-white-50"
                                                href="./report.html">Listado de Informes</a>
                                        </div>
                                        <div class="mb-2"></div>
                                        <p data-menu-title class="h6"><i class="fas fa-shield-alt"></i> Patrimonio</p>
                                        <div class="d-block mb-1" data-div-link>
                                            <a href="" data-fav data-fav-name="Control de Patrimonio"
                                                data-fav-action="data-menu-patrimony"><i class="btn-fav fas fa-star"></i></a>
                                            <a data-report="2"
                                                class="menu-item d-inline nav-link menu-link text-white-50"
                                                href="./patrimonio.html">Control de Patrimonio</a>
                                        </div>
                                        <div class="mb-2"></div>
                                        <p data-menu-title class="h6"><i class="fas fa-address-card"></i> RRHH</p>
                                        <div class="d-block mb-1" data-div-link>
                                            <a href="" data-fav data-fav-name="Cuestionario RRHH"
                                                data-fav-action="data-menu-quiz"><i
                                                    class="btn-fav fas fa-star"></i></a>
                                            <a class="menu-item d-inline nav-link menu-link text-white-50"
                                                href="./quiz.html">Cuestionario RRHH</a>
                                        </div>
                                    </div>
                                    <div class="col-md-3 text-white">
                                        <p data-menu-title class="h6"><i class="fas fa-chart-bar"></i> Informes Operacionales</p>
                                        <div class="d-block mb-1" data-div-link>
                                            <a href="" data-fav data-fav-name="Ordenes de Compra"
                                                data-fav-action="data-menu-order"><i
                                                    class="btn-fav fas fa-star"></i></a>
                                            <a data-charge class="menu-item d-inline nav-link menu-link text-white-50"
                                                href="./purchaseorders.html">Ordenes de Compra</a>
                                        </div>                          <div class="d-block mb-1" data-div-link>
                                            <a href="" data-fav data-fav-name="Despesas con Vehiculos"
                                                data-fav-action="data-menu-expense-car"><i
                                                    class="btn-fav fas fa-star"></i></a>
                                            <a data-charge class="menu-item d-inline nav-link menu-link text-white-50"
                                                href="./expense.html">Despesas con Vehiculos</a>
                                        </div>
                                        <div class="d-block mb-1" data-div-link>
                                            <a href="" data-fav data-fav-name="Orden de Compra - Gestran"
                                                data-fav-action="data-menu-ordergestran"><i class="btn-fav fas fa-star"></i></a>
                                            <a class="menu-item d-inline nav-link menu-link text-white-50"
                                                href="./ordergestran.html">Orden de Compra - Gestran</a>
                                        </div>
                                        <div class="d-block mb-1" data-div-link>
                                            <a href="" data-fav data-fav-name="Cotizacion"
                                                data-fav-action="data-menu-quotation"><i class="btn-fav fas fa-star"></i></a>
                                            <a class="menu-item d-inline nav-link menu-link text-white-50"
                                                href="./quotation.html">Cotizacion</a>
                                        </div>
                                        <div class="d-block mb-1" data-div-link>
                                            <a href="" data-fav data-fav-name="Historial del Vehiculo"
                                                data-fav-action="data-menu-historycar"><i
                                                    class="btn-fav fas fa-star"></i></a>
                                            <a data-item class="menu-item d-inline nav-link menu-link text-white-50"
                                                href="./history.html">Historial del Vehiculo</a>
                                        </div>
                                    </div>
                                    <div class="col-md-3 text-white">
                                        <p class="h6"><i class="fas fa-truck"></i> Viaje</p>
                                        <div class="d-block mb-1" data-div-link>
                                            <a href="" data-fav data-fav-name="Control de Viajes"
                                                data-fav-action="data-menu-travel"><i class="btn-fav fas fa-star"></i></a>
                                            <a class="menu-item d-inline nav-link menu-link text-white-50"
                                                href="./vehiculos.html">Control de Viajes</a>
                                        </div>
                                        <div class="mb-2"></div>
                                        <p class="h6"><i class="fas fa-folder"></i> Documientos</p>
                                        <div class="d-block mb-1" data-div-link>
                                            <a href="" data-fav data-fav-name="Control de Viajes"
                                                data-fav-action="data-menu-travel"><i class="btn-fav fas fa-star"></i></a>
                                            <a class="menu-item d-inline nav-link menu-link text-white-50"
                                                href="./vehiculos.html">Control de Documientos</a>
                                        </div>
                                        <div class="mb-2"></div>
                                        <p data-menu-title class="h6"><i class="fas fa-shopping-cart"></i> Administracion</p>
                                        <div class="d-block mb-1" data-div-link>
                                            <a href="" data-fav data-fav-name="ADM" data-fav-action="data-menu-adm"><i
                                                    class="btn-fav fas fa-star"></i></a>
                                            <a data-charge class="menu-item d-inline nav-link menu-link text-white-50"
                                                href="./adm.html"> Gerenciar Usuarios</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="content">
                <div class="container-fluid">
                    <div class="col-lg-12 text-center">
                        <div class="d-sm-flex align-items-center justify-content-md-center mb-4" data-title>
                            <h1 class="h3 mb-0 text-gray-800">Despesas con Vehiculos</h1>
                        </div>
                    </div>

                    <div class="row col-md-12 mb-2 align-items-center">
                        <div class="d-flex justify-content-center align-items-center" data-loading></div>
                    </div>

                    <div class="row justify-content-md-center">
                        <div class="col-lg-10">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-danger">Panel de Gastos Autorizados Logística </h6>
                                </div>
                                <form target="_blank" action="/purchaseorders" method="POST" data-form-generate>
                                    <div class="card-body">
                                        <div class="form-row">
                                            <div class="form-group col-6">
                                                <label for="datestart">Fecha Inicial</label>
                                                <input id="datestart" name="datestart" placeholder="Fecha Inicial"
                                                    type="date" class="form-control" required>
                                            </div>
                                            <div class="form-group col-6">
                                                <label for="dateend">Fecha Final</label>
                                                <input id="dateend" name="dateend" placeholder="Fecha Final" type="date"
                                                    class="form-control" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button data-modal-search type="submit"
                                            class="btn btn-info align-items-center text-white justify-content-md-center mb-2">Generar</button>
                                    </div>
                                </form>
                            </div>
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-danger">Tabla </h6>
                                </div>
                                    <div class="card-body">
                                        <table class="table table-bordered table-sm" id="dataTable" width="100%"
                                            cellspacing="0" data-table></table>
                                    </div>
                            </div>
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-danger">Detallado por Producto </h6>
                                </div>
                                    <div class="card-body">
                                        <table class="table table-bordered table-sm" id="dataProduct" width="100%"
                                            cellspacing="0" data-table></table>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>© LOGISTICA
                        </span>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cerrar sesión?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Seleccione salir si desea finalizar la sesión.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary " type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-danger" href="#" onclick="onLogout()">Salir</a>
                </div>
            </div>
        </div>
    </div>

    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js"></script>
    <script src="../js/libs/sb-admin-2.min.js"></script>
    <script type="module" src="../js/controllers/expenseController.js"></script>
    <script type="module" src="../js/controllers/loginController.js"></script>
    <script type="module" src="../js/controllers/menuController.js"></script>
    <script src="../js/libs/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="../js/libs/dataTables.bootstrap4.min.js"></script>
    <script src="../js/libs/dataTables.buttons.min.js"></script>
    <script src="../js/libs/jszip.min.js"></script>
    <script src="../js/libs/pdfmake.min.js"></script>
    <script src="../js/libs/pdfmake_vfs_fonts.min.js"></script>
    <script src="../js/libs/buttons.html5.min.js"></script>
    <script src="../js/libs/buttons.print.min.js"></script>
    <script src="../js/libs/geradorarquivo.min.js"></script>
    <div data-modal></div>

</body>

</html>