<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informe de Cotizacion</title>
    <link href="../css/sb-admin-2.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<header>
    <div class="container-fluid mb-2">
        <div class="form-row rounded-3 border border-3 border-dark">
            <div class="form-group col-md-5 text-center align-items-center justify-content-between">
                <div class="sidebar-brand-icon mt-3">
                    <img width="320" height="80" src="../img/launch.png" alt="Sunset Logo">
                </div>
            </div>
            <div class="form-group col-md-3">
                <h4 style="font-family: Arial, Helvetica, sans-serif;">Cotización</h4>
                <h4 style="font-family: Arial, Helvetica, sans-serif;">Orden de Compra</h4>
                <h5 style="font-family: Arial, Helvetica, sans-serif;">Fecha de Emision:</h5>
                <h8 style="font-family: Arial, Helvetica, sans-serif;">Solicitado por:</h8>
            </div>
            <div class="form-group col-md-3">
                <h4 style="font-family: Arial, Helvetica, sans-serif;">1</h4>
                <h4 style="font-family: Arial, Helvetica, sans-serif;">1</h4>
                <h5 style="font-family: Arial, Helvetica, sans-serif;">01/01/2021</h5>
                <h8 style="font-family: Arial, Helvetica, sans-serif;">DATA</h8>
            </div>
            <div class="form-group col-md-1">
                <h4 class="text-danger" style="font-family: Arial, Helvetica, sans-serif;">Chapa:</h4>
                <h5 class="text-danger" style="font-family: Arial, Helvetica, sans-serif;">DATA</h5>
            </div>
        </div>
    </div>
</header>

<body>

    <div class="container-fluid">
        <div class="form-row rounded-3 border-top border-end border-start border-3 border-dark">
            <div class="form-group col-md-12 border-bottom border-3 border-dark text-center">
                <h4>DATOS DE LA EMPRESA</h4>
            </div>
            <div class="form-group col-md-12">
                <h4>NOMBRE DE LA EMPRESA: <strong>DATA</strong></h4>
            </div>
            <div class="form-group col-md-12">
                <h4 style="font-family: Arial, Helvetica, sans-serif;">RUC: 80049455-5</h4>
            </div>
        </div>

        <div class="form-row rounded-3 border-top border-end border-start border-3 border-dark">
            <div class="form-group col-md-12 border-bottom border-3 border-dark text-center">
                <h4>DATOS DEL PROVEEDOR</h4>
            </div>
            <div class="form-group col-md-12">
                <h4>NOMBRE DEL PROVEEDOR: <strong>DATA</strong></h4>
            </div>
            <div class="form-group col-md-6">
                <h4>DIRECCIÓN: DATA</h4>
            </div>
            <div class="form-group col-md-6">
                <h4>TELÉFONO: DATA</h4>
            </div>
            <div class="form-group col-md-4">
                <h4 style="font-family: Arial, Helvetica, sans-serif;">CIUDAD: DATA</h4>
            </div>
            <div class="form-group col-md-4">
                <h4 style="font-family: Arial, Helvetica, sans-serif;">DEPARTAMENTO: DATA</h4>
            </div>
            <div class="form-group col-md-4">
                <h4 style="font-family: Arial, Helvetica, sans-serif;">BARRIO: DATA</h4>
            </div>
            <div class="form-group col-md-12">
                <h4 style="font-family: Arial, Helvetica, sans-serif;">RUC: 80049455-5</h4>
            </div>
            <div class="form-group col-md-12">
                <h4 style="font-family: Arial, Helvetica, sans-serif;">VENDEDOR: DATA</h4>
            </div>
        </div>

        <div style="background-color:#E2E4E3" class="form-row rounded-3 border border-3 border-dark mb-2">
            <div class="form-group col-md-12">
                <h4>NOMBRE - LOCAL DE LA EMPRESA: <strong>DATA</strong></h4>
            </div>
            <div class="form-group col-md-12">
                <h4>DIRECCIÓN DE LA ENTREGA: DATA</h4>
            </div>
            <div class="form-group col-md-8">
                <h4 style="font-family: Arial, Helvetica, sans-serif;">BARRIO: DATA</h4>
            </div>
            <div class="form-group col-md-4">
                <h4 style="font-family: Arial, Helvetica, sans-serif;">TELÉFONO: DATA</h4>
            </div>
            <div class="form-group offset-4 col-md-8">
                <h4 style="font-family: Arial, Helvetica, sans-serif;">PLAZO DE ENTREGA: DATA</h4>
            </div>
        </div>

        <div class="form-row rounded-3 border border-3 border-dark align-items-center">
            <div class="form-group text-center col-md-1">
                <h5>QTDE.</h5>
            </div>
            <div class="form-group col-md-1">
                <h5>UNID.</h5>
            </div>
            <div class="form-group col-md-3">
                <h5>CODIGO Y DESCRIPCION</h5>
            </div>
            <div class="form-group col-md-1">
                <h5>CHAPA</h5>
            </div>
            <div class="form-group text-center col-md-3">
                <h5>CENTRO DE COSTO</h5>
            </div>
            <div class="form-group col-md-1.5">
                <h5>MONTO UNI</h5>
            </div>
            <div class="form-group col-md-1.5">
                <h5>MONTO TOTAL</h5>
            </div>
        </div>
        <div class="form-row align-items-center">
            <div class="form-group text-center col-md-1">
                <h5>DATA</h5>
            </div>
            <div class="form-group col-md-1">
                <h5>DATA</h5>
            </div>
            <div class="form-group col-md-3">
                <h5>DATA</h5>
            </div>
            <div class="form-group col-md-1">
                <h5>DATA</h5>
            </div>
            <div class="form-group text-center col-md-3">
                <h5>DATA</h5>
            </div>
            <div class="form-group text-center col-md-1.5">
                <h5>DATA</h5>
            </div>
            <div class="form-group text-center col-md-1.5">
                <h5>DATA</h5>
            </div>
        </div>

        <div class="form-row border-top border-3 border-dark align-items-center">
            <div class="form-group offset-8 col-md-2 text-right border border-dark">
                <h4 style="font-family: Arial, Helvetica, sans-serif;">MONTO</h4>
            </div>
            <div class="form-group col-md-2 border border-dark">
                <h4 style="font-family: Arial, Helvetica, sans-serif;"> DATA</h4>
            </div>
        </div>

        <div class="form-row rounded-3 border border-3 border-dark mb-2">
            <div class="form-group col-md-6">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <h4>Monto Bruto:</h4>
                    </div>
                    <div class="form-group col-md-6">
                        <h4>DATA</h4>
                    </div>
                    <div class="form-group col-md-6">
                        <h4>Flete:</h4>
                    </div>
                    <div class="form-group col-md-6">
                        <h4>DATA</h4>
                    </div>
                    <div class="form-group col-md-6">
                        <h4>Monto Final:</h4>
                    </div>
                    <div class="form-group col-md-6">
                        <h4>DATA</h4>
                    </div>
                    <div class="form-group col-md-6">
                        <h4>Forma de Pago:</h4>
                    </div>
                    <div class="form-group col-md-6">
                        <h4>DATA</h4>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="form-row rounded-3 border border-3 border-dark mb-2">
                    <div class="form-group col-md-12 border-bottom border-3 border-dark text-center">
                        <h4>Observaciones</h4>
                    </div>
                    <div class="form-group col-md-12 text-center">
                        <H5>DATA DATA</H5>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row rounded-3 border border-3 border-dark mb-2">
            <div class="form-group col-md-12">
                <H6>Obligaciones:</H6>
            </div>
            <H6>1 - NÚMERO DE ORDEN DE COMPRA INDISPENSABLE EN LA FACTURA;</H6>
            <H6>2 - NO SE ACEPTARÀN FACTURAS CON VALORES DIFERENTES A LOS DE LA ORDEN DE COMPRA;</H6>
            <H6>3 - POR FAVOR, RESPETE LA FECHA Y LA FORMA DE PAGO MENCIONADOS EN LA ORDEN DE COMPRA;</H6>
            <H6>4 - NO SE EFECTUARÁN PAGOS CON FECHAS Y CONDICIONES DIFERENTES A LAS INFORMADAS ANTERIORMENTE.</H6>
            <div class="form-group col-md-12 text-center">
                <H6 class="text-danger">SI NO ES POSIBLE CUMPLIR CON ALGUNO DE LOS PUNTOS, PÓNGASE EN CONTACTO CON
                    NOSOTROS ANTES DEL VENCIMIENTO DE LA FACTURA.</H6>
            </div>
        </div>

    </div>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script>
        window.onload = function () { window.print(); }
    </script>
</body>

</html>