<%- include(partials + 'header.ejs' ) %>

    <div id="content">
        <div class="container-fluid">
            <div class="col-lg-12 text-center">
                <div class="d-sm-flex align-items-center justify-content-md-center mb-4" data-title>
                    <h1 class="h3 mb-0 text-gray-800">Orden de Compra - Gestran</h1>
                </div>
            </div>

            <div class="row col-md-12 mb-2 align-items-center">
                <div class="d-flex justify-content-center align-items-center" data-loading></div>
            </div>

            <div class="row justify-content-md-center">
                <div class="col-lg-10">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-danger">Generar Informe de Ordenes de Compra
                            </h6>
                        </div>
                        <form target="_blank" action="/order/gestran" method="POST" data-form-generate>
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="form-group col-12">
                                        <label for="purchaseorder">Orden de Compra</label>
                                        <select data-select-purchaseorder id="purchaseorder" name="purchaseorder"
                                            class="form-control" multiple>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button data-modal-search type="submit"
                                    class="btn btn-info align-items-center text-white justify-content-md-center mb-2">Generar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include(partials + 'script.ejs' ) %>

        <script type="module" src="../js/controllers/qttController.js"></script>
        <script type="module" src="../js/controllers/loginController.js"></script>
        <script type="module" src="../js/controllers/menuController.js"></script>

        <%- include(partials + 'footer.ejs' ) %>