<%- include(partials + 'header.ejs' ) %>

    <div id="content">
        <div class="container-fluid">
            <div class="col-lg-12 text-center">
                <div class="d-sm-flex align-items-center justify-content-md-center mb-4" data-title>
                    <h1 class="h3 mb-0 text-gray-800">Vehiculos</h1>
                </div>
            </div>

            <div class="row col-md-12 mb-2 align-items-center">
                <div class="d-flex justify-content-center align-items-center" data-loading></div>
            </div>

            <div class="row justify-content-md-center">
                <div class="col-lg-12">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-danger">Nueva viaje</h6>
                        </div>
                        <div class="card-body">
                            <form data-form-travel>
                                <div class="form-row">
                                    <div class="form-group col-md-1">
                                        <select data-origin id="origin" name="origin" class="form-select">
                                            <option value="" selected disabled>Origen</option>
                                            <option value="1">KM 1</option>
                                            <option value="2">KM 28</option>
                                            <option value="3">YPANÉ</option>
                                            <option value="4">AC. KM 1</option>
                                            <option value="5">LOG. HERRAMIENTAS</option>
                                            <option value="6">LOG. VEHÍCULOS</option>
                                            <option value="7">LOG. EQUIPOS</option>
                                            <option value="8">P. Seguro</option>
                                            <option value="9">P. Terport</option>
                                            <option value="10">P. Fenix</option>
                                            <option value="11">PJC</option>
                                            <option value="12">Itapua</option>
                                            <option value="13">Salto</option>
                                            <option value="14">Pindoty</option>
                                            <option value="15">Santa Rita</option>
                                            <option value="16">Fernando de la Mora</option>
                                            <option value="17">MRA</option>
                                            <option value="18">San Lorenzo</option>
                                            <option value="19">Ñemby</option>
                                            <option value="20">Chacoi</option>
                                            <option value="21">Sobre ruta 2</option>
                                            <option value="22">Caaguazu</option>
                                            <option value="23">Campo 9</option>
                                            <option value="24">Campo 8</option>
                                            <option value="25">Villarrica</option>
                                            <option value="26">Chaco</option>
                                            <option value="27">Villeta</option>
                                            <option value="28">Eusebio Ayala</option>
                                            <option value="29">CaacupeMi</option>
                                            <option value="30">Pillar</option>
                                            <option value="31">Villa Elisa</option>
                                            <option value="32">Nasser</option>
                                            <option value="33">Centrales Ypané</option>
                                            <option value="34">Canindeyu</option>
                                            <option value="35">Zona Franca km11</option>
                                            <option value="36">Hernandarias</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <input data-date type="datetime-local" name="date" id="date"
                                            class="form-control" required>
                                    </div>
                                    <div class="form-group col-md-1">
                                        <select class="form-select" id="period" name="period" required data-period>
                                            <option value="" selected disabled>Tiempo</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-1">
                                        <select class="form-select" id="type" name="type" required data-type>
                                            <option value="" selected disabled>Tipo</option>
                                            <option value="1">Viatico Nacional</option>
                                            <option value="2">Retiro Contenedor</option>
                                            <option value="3">Mantenimiento</option>
                                            <option value="4">Region Metropolitana</option>
                                            <option value="5">Retorno</option>
                                            <option value="6">Transferencia</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <select class="form-select" id="driver" name="driver" required disabled
                                            data-driver>
                                            <option value="" selected disabled>Chofér</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <select data-truck class="form-select" id="car" name="car" required disabled>
                                            <option value="" selected disabled>Camion</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <select data-chest class="form-select" id="chest" name="chest" disabled>
                                            <option value="" selected disabled>Furgon</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-1">
                                        <select data-route id="route" name="route" class="form-select" required
                                            disabled>
                                            <option value="" selected disabled>Destino</option>
                                            <option value="1">KM 1</option>
                                            <option value="2">KM 28</option>
                                            <option value="3">YPANÉ</option>
                                            <option value="4">AC. KM 1</option>
                                            <option value="5">LOG. HERRAMIENTAS</option>
                                            <option value="6">LOG. VEHÍCULOS</option>
                                            <option value="7">LOG. EQUIPOS</option>
                                            <option value="8">P. Seguro</option>
                                            <option value="9">P. Terport</option>
                                            <option value="10">P. Fenix</option>
                                            <option value="11">PJC</option>
                                            <option value="12">Itapua</option>
                                            <option value="13">Salto</option>
                                            <option value="14">Pindoty</option>
                                            <option value="15">Santa Rita</option>
                                            <option value="16">Fernando de la Mora</option>
                                            <option value="17">MRA</option>
                                            <option value="18">San Lorenzo</option>
                                            <option value="19">Ñemby</option>
                                            <option value="20">Chacoi</option>
                                            <option value="21">Sobre ruta 2</option>
                                            <option value="22">Caaguazu</option>
                                            <option value="23">Campo 9</option>
                                            <option value="24">Campo 8</option>
                                            <option value="25">Villarrica</option>
                                            <option value="26">Chaco</option>
                                            <option value="27">Villeta</option>
                                            <option value="28">Eusebio Ayala</option>
                                            <option value="29">CaacupeMi</option>
                                            <option value="30">Pillar</option>
                                            <option value="31">Villa Elisa</option>
                                            <option value="32">Nasser</option>
                                            <option value="33">Centrales Ypané</option>
                                            <option value="34">Canindeyu</option>
                                            <option value="35">Zona Franca km11</option>
                                            <option value="36">Hernandarias</option>
                                        </select>
                                        <textarea class="form-control" placeholder="Observación del Mantenimiento"
                                            style="display: none;" type="text" name="obs" id="obs" data-obs
                                            required></textarea>
                                    </div>
                                    <div class="form-group text-center col-md-12">
                                        <button class="btn btn-success" type="submit">Agregar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div data-div-travels class="print row justify-content-md-center">
                <div class="col-lg-12">
                    <div class="card shadow mb-4">
                        <div class="card-header">
                            <div class="form-row">
                                <div class="form-group col-1">
                                    <h6 class="m-0 font-weight-bold text-danger">Listado de Viajes</h6>
                                </div>
                                <div class="form-group col-1">
                                    <select class="form-select" data-filter-travel-type>
                                        <option value="Todos" selected>TODAS LAS VIAJES</option>
                                        <option value="Viatico Nacional">Viatico Nacional</option>
                                        <option value="Retiro Contenedor">Retiro Contenedor</option>
                                        <option value="Mantenimiento">Mantenimiento</option>
                                        <option value="Region Metropolitana">Region Metropolitana</option>
                                        <option value="Retorno">Retorno</option>
                                        <option value="Transferencia">Transferencia</option>
                                    </select>
                                </div>
                                <div class="form-group col-2">
                                    <select class="form-select" data-filter-travel-origin>
                                        <option value="Todos" selected>TODAS LAS ORIGENS</option>
                                        <option value="KM 1">KM 1</option>
                                        <option value="KM 28">KM 28</option>
                                        <option value="YPANÉ">YPANÉ</option>
                                        <option value="AC. KM 1">AC. KM 1</option>
                                        <option value="LOG. HERRAMIENTAS">LOG. HERRAMIENTAS</option>
                                        <option value="LOG. VEHÍCULOS">LOG. VEHÍCULOS</option>
                                        <option value="LOG. EQUIPOS">LOG. EQUIPOS</option>
                                        <option value="P. Seguro">P. Seguro</option>
                                        <option value="P. Terport">P. Terport</option>
                                        <option value="P. Fenix">P. Fenix</option>
                                        <option value="PJC">PJC</option>
                                        <option value="Itapua">Itapua</option>
                                        <option value="Salto">Salto</option>
                                        <option value="Pindoty">Pindoty</option>
                                        <option value="Santa Rita">Santa Rita</option>
                                        <option value="Fernando de la Mora">Fernando de la Mora</option>
                                        <option value="MRA">MRA</option>
                                        <option value="San Lorenzo">San Lorenzo</option>
                                        <option value="Ñemby">Ñemby</option>
                                        <option value="Chacoi">Chacoi</option>
                                        <option value="Sobre ruta 2">Sobre ruta 2</option>
                                        <option value="Caaguazu">Caaguazu</option>
                                        <option value="Campo 9">Campo 9</option>
                                        <option value="Campo 8">Campo 8</option>
                                        <option value="Villarrica">Villarrica</option>
                                        <option value="Chaco">Chaco</option>
                                        <option value="Villeta">Villeta</option>
                                        <option value="Eusebio Ayala">Eusebio Ayala</option>
                                        <option value="CaacupeMi">CaacupeMi</option>
                                        <option value="Pillar">Pillar</option>
                                        <option value="Villa Elisa">Villa Elisa</option>
                                        <option value="Nasser">Nasser</option>
                                        <option value="Centrales Ypané">Centrales Ypané</option>
                                        <option value="Canindeyu">Canindeyu</option>
                                        <option value="Zona Franca km11">Zona Franca km11</option>
                                        <option value="Hernandarias">Hernandarias</option>
                                    </select>
                                </div>
                                <div class="form-group col-2">
                                    <select class="form-select" data-filter-travel-route>
                                        <option value="Todos" selected>TODOS LOS DESTINOS</option>
                                        <option value="KM 1">KM 1</option>
                                        <option value="KM 28">KM 28</option>
                                        <option value="YPANÉ">YPANÉ</option>
                                        <option value="AC. KM 1">AC. KM 1</option>
                                        <option value="LOG. HERRAMIENTAS">LOG. HERRAMIENTAS</option>
                                        <option value="LOG. VEHÍCULOS">LOG. VEHÍCULOS</option>
                                        <option value="LOG. EQUIPOS">LOG. EQUIPOS</option>
                                        <option value="P. Seguro">P. Seguro</option>
                                        <option value="P. Terport">P. Terport</option>
                                        <option value="P. Fenix">P. Fenix</option>
                                        <option value="PJC">PJC</option>
                                        <option value="Itapua">Itapua</option>
                                        <option value="Salto">Salto</option>
                                        <option value="Pindoty">Pindoty</option>
                                        <option value="Santa Rita">Santa Rita</option>
                                        <option value="Fernando de la Mora">Fernando de la Mora</option>
                                        <option value="MRA">MRA</option>
                                        <option value="San Lorenzo">San Lorenzo</option>
                                        <option value="Ñemby">Ñemby</option>
                                        <option value="Chacoi">Chacoi</option>
                                        <option value="Sobre ruta 2">Sobre ruta 2</option>
                                        <option value="Caaguazu">Caaguazu</option>
                                        <option value="Campo 9">Campo 9</option>
                                        <option value="Campo 8">Campo 8</option>
                                        <option value="Villarrica">Villarrica</option>
                                        <option value="Chaco">Chaco</option>
                                        <option value="Villeta">Villeta</option>
                                        <option value="Eusebio Ayala">Eusebio Ayala</option>
                                        <option value="CaacupeMi">CaacupeMi</option>
                                        <option value="Pillar">Pillar</option>
                                        <option value="Villa Elisa">Villa Elisa</option>
                                        <option value="Nasser">Nasser</option>
                                        <option value="Centrales Ypané">Centrales Ypané</option>
                                        <option value="Canindeyu">Canindeyu</option>
                                        <option value="Zona Franca km11">Zona Franca km11</option>
                                        <option value="Hernandarias">Hernandarias</option>
                                    </select>
                                </div>
                                <div class="form-group col-2">
                                    <select class="form-select" data-filter-travel-trucktype>
                                        <option value="Todos" selected>TODOS LOS CAMIONES</option>
                                        <option value="AUTOMOVIL">AUTOMOVIL</option>
                                        <option value="CAMIÓN">CAMION</option>
                                        <option value="TRACTO CAMION">TRACTO CAMION</option>
                                        <option value="CAMION DOBLE EJE">CAMION DOBLE EJE</option>
                                        <option value="CAMIONETA">CAMIONETA</option>
                                        <option value="PORTER">PORTER</option>
                                        <option value="FURGON">FURGON</option>
                                        <option value="SEMI REMOLQUE">SEMI REMOLQUE</option>
                                    </select>
                                </div>
                                <div class="form-group col-2 text-right">
                                    <button type="button" class="btn btn-secondary" style="cursor:cell;"
                                        data-print-travel>Copiar Viajes</button>
                                </div>
                                <div class="form-group col-2">
                                    <input class="form-control" type="date" data-search-date>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-1 text-center">
                                    <h6>Usuario</h6>
                                </div>
                                <div class="col-1 text-center">
                                    <h6>Tipo</h6>
                                </div>
                                <div class="col-1 text-center">
                                    <h6>Origem</h6>
                                </div>
                                <div class="col-1 text-center">
                                    <h6>Destino/Obs</h6>
                                </div>
                                <div class="col-2 text-center">
                                    <h6>Chofér</h6>
                                </div>
                                <div class="col-2 text-center">
                                    <h6>Camion</h6>
                                </div>
                                <div class="col-1 text-center">
                                    <h6>Furgon</h6>
                                </div>
                                <div class="col-1 text-center">
                                    <h6>Capacidad</h6>
                                </div>
                                <div class="col-2 text-center">
                                    <h6>Fecha</h6>
                                </div>
                            </div>
                            <div class="row" data-row-travel>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div data-div-travels class="print row justify-content-md-center">
                <div class="col-lg-12">
                    <div class="card shadow mb-4">
                        <div class="card-header">
                            <div class="form-row">
                                <div class="form-group col-1">
                                    <h6 class="m-0 font-weight-bold text-danger">Listado de Vehículos</h6>
                                </div>
                                <div class="form-group col-2 text-center">
                                    <select class="form-select" data-filter-truck-type>
                                        <option value="TODOS" selected>Todos los vehiculos</option>
                                        <option value="AUTOMOVIL">AUTOMOVIL</option>
                                        <option value="CAMIÓN">CAMION</option>
                                        <option value="TRACTO CAMION">TRACTO CAMION</option>
                                        <option value="CAMION DOBLE EJE">CAMION DOBLE EJE</option>
                                        <option value="CAMIONETA">CAMIONETA</option>
                                        <option value="PORTER">PORTER</option>
                                        <option value="FURGON">FURGON</option>
                                        <option value="SEMI REMOLQUE">SEMI REMOLQUE</option>
                                    </select>
                                </div>
                                <div class="form-group col-2 text-center">
                                    <select class="form-select" data-filter-truck-status>
                                        <option value="TODOS" selected>Todos los status</option>
                                        <option value="1">Disponible</option>
                                        <option value="2">No disponible</option>
                                        <option value="3">Mantenimiento</option>
                                    </select>
                                </div>
                                <div class="form-group col-2 text-center">
                                    <select class="form-select" data-filter-truck-sede>
                                        <option value="TODOS" selected>Todos las sedes</option>
                                        <option value="KM 28">Km28</option>
                                        <option value="YPANE">Ypane</option>
                                        <option value="CDE">CDE</option>
                                    </select>
                                </div>
                                <div class="form-group col-2 text-center">
                                    <select class="form-select" data-filter-truck-brand>
                                        <option value="TODOS" selected>Todos las marcas</option>
                                        <option value="NISSAN">NISSAN</option>
                                        <option value="VOLKSWAGEN">VOLKSWAGEN</option>
                                        <option value="KIA">KIA</option>
                                        <option value="CHEVROLET">CHEVROLET</option>
                                        <option value="MERCEDES BENZ">MERCEDES BENZ</option>
                                        <option value="FOTON">FOTON</option>
                                        <option value="FUSO">FUSO</option>
                                        <option value="SCANIA">SCANIA</option>
                                        <option value="HYUNDAI">HYUNDAI</option>
                                        <option value="VOLVO">VOLVO</option>
                                        <option value="FIAT">FIAT</option>
                                        <option value="VANHOOL">VANHOOL</option>
                                        <option value="GUERRA">GUERRA</option>
                                        <option value="RANDON">RANDON</option>
                                        <option value="FERCAP">FERCAP</option>
                                        <option value="ORO VERDE">ORO VERDE</option>
                                        <option value="FAW">FAW</option>
                                        <option value="LIBRELATO">LIBRELATO</option>
                                        <option value="GOODYEAR">GOODYEAR</option>
                                    </select>
                                </div>
                                <div class="form-group col-3 text-right">
                                    <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                        data-bs-target="#addcar"><i class="fas fa-plus"></i> Nuevo</button>
                                    <button data-btn-collapse type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseCars" aria-expanded="false"
                                        aria-controls="collapseCars" class="btn bt-secondary btn-circle">
                                        <i class="fas fa-arrow-down"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="collapse card-body" id="collapseCars">
                            <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                            </table>
                            <div class="form-group text-left pt-2">
                                <button type="button" class="btn btn-secondary" data-print>Print</button>
                                <button type="button" class="btn btn-secondary" data-copy-travel>Copiar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row justify-content-md-center">
                <div class="col-lg-12">
                    <div class="card shadow mb-4">
                        <div class="card-header">
                            <div class="form-row">
                                <div class="form-group col-1">
                                    <h6 class="m-0 font-weight-bold text-danger">Listado de Chofér</h6>
                                </div>
                                <div class="form-group col-2 text-center">
                                    <select class="form-select" data-filter-driver-status>
                                        <option value="TODOS" selected>Todos los status</option>
                                        <option value="1">Disponible</option>
                                        <option value="2">No disponible</option>
                                        <option value="3">Temporalmente no disponible</option>
                                    </select>
                                </div>
                                <div class="form-group col-2 text-center">
                                    <select class="form-select" data-filter-driver-local>
                                        <option value="TODOS" selected>Todos los locales</option>
                                        <option value="KM 1">KM 1</option>
                                        <option value="KM 28">KM 28</option>
                                        <option value="YPANE">YPANE</option>
                                    </select>
                                </div>
                                <div class="form-group col-7 text-right">
                                    <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                        data-bs-target="#adddriver"><i class="fas fa-plus"></i> Nuevo</button>
                                    <button data-btn-collapse type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseDriver" aria-expanded="false"
                                        aria-controls="collapseCars" class="btn bt-secondary btn-circle">
                                        <i class="fas fa-arrow-down"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="collapse card-body" id="collapseDriver">
                            <table class="table table-bordered text-center" id="dataDriver" width="100%"
                                cellspacing="0"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addcar" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Agregar Camión</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form data-form-add-car>
                    <div class="modal-body">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input id="plate" name="plate" placeholder="Plaqueta" type="text" class="form-control"
                                    required>
                            </div>
                            <div class="form-group col-6">
                                <input id="brand" name="brand" placeholder="Marca" type="text" class="form-control"
                                    required>
                            </div>
                            <div class="form-group col-6">
                                <input id="model" name="model" placeholder="Modelo" type="text" class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <select name="cartype" id="cartype" class="form-select">
                                    <option value="" selected disabled>Tipo</option>
                                    <option value="AUTOMOVIL">AUTOMOVIL</option>
                                    <option value="CAMIÓN">CAMIÓN</option>
                                    <option value="TRACTO CAMION">TRACTO CAMION</option>
                                    <option value="CAMION DOBLE EJE">CAMION DOBLE EJE</option>
                                    <option value="CAMIONETA">CAMIONETA</option>
                                    <option value="PORTER">PORTER</option>
                                    <option value="FURGON">FURGON</option>
                                    <option value="SEMI REMOLQUE">SEMI REMOLQUE</option>
                                </select>
                            </div>
                            <div class="form-group col-6">
                                <input id="color" name="color" placeholder="Color" type="text" class="form-control"
                                    required>
                            </div>
                            <div class="form-group col-6">
                                <input id="year" name="year" placeholder="Año" type="date" class="form-control">
                            </div>
                            <div class="form-group col-6">
                                <input id="chassis" name="chassis" placeholder="Chassis" type="text"
                                    class="form-control">
                            </div>
                            <div class="form-group col-6">
                                <input id="capacity" name="capacity" placeholder="Capacidad" type="number"
                                    class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <select name="fuel" id="fuel" class="form-select">
                                    <option value="" selected disabled>Combustible</option>
                                    <option value="N/A">N/A</option>
                                    <option value="Diesel Normal">Diesel Normal</option>
                                    <option value="Nafta Aditivada">Nafta Aditivada</option>
                                    <option value="Diesel Podium">Diesel Podium</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <select name="departament" id="departament" class="form-select">
                                    <option value="" selected disabled>Departament</option>
                                    <option value="N/A">N/A</option>
                                    <option value="Logistica">Logistica</option>
                                    <option value="ADM">ADM</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <select name="thirst" id="thirst" class="form-select">
                                    <option value="" selected disabled>Sede</option>
                                    <option value="KM 28">KM 28</option>
                                    <option value="YPANE">YPANE</option>
                                    <option value="CDE">CDE</option>
                                </select>
                            </div>
                            <div class="form-group col-6">
                                <input id="obs" name="obs" placeholder="Observación" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success">Agregar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="adddriver" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Agregar Chofér</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form data-form-add-driver>
                    <div class="modal-body">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input name="name" placeholder="Nombre" type="text" class="form-control" required>
                            </div>
                            <div class="form-group col-6">
                                <input id="idcard" name="idcard" placeholder="ID Card" type="text" class="form-control"
                                    required>
                            </div>
                            <div class="form-group col-6">
                                <input id="phone" name="phone" placeholder="Teléfono" type="text" class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <input id="thirst" name="thirst" placeholder="Sede" type="text" class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <select name="type" id="type" class="form-select">
                                    <option value="" selected disabled>Tipo</option>
                                    <option value="SIN INFORMACION">SIN INFORMACION</option>
                                    <option value="CHOFER CARRETERO">CHOFER CARRETERO</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <select id="classification" name="classification" class="form-select">
                                    <option value="" selected disabled>Clasificación</option>
                                    <option value="SIN INFORMACION">SIN INFORMACION</option>
                                    <option value="CHOFER CONTRADADO">CHOFER CONTRADADO</option>
                                    <option value="CHOFER DE REPARTO">CHOFER DE REPARTO</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <select id="vacation" name="vacation" class="form-select">
                                    <option value="" selected disabled>Vacaciones</option>
                                    <option value="SIN INFORMACION">SIN INFORMACION</option>
                                    <option value="NO">NO</option>
                                    <option value="SI">SI</option>
                                </select>
                            </div>
                            <div class="form-group col-6">
                                <input id="obs" name="obs" placeholder="Observación" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success">Agregar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <%- include(partials + 'script.ejs' ) %>

        <script type="module" src="../js/controllers/carController.js"></script>
        <script type="module" src="../js/controllers/loginController.js"></script>
        <script type="module" src="../js/controllers/menuController.js"></script>


        <!-- <script src="../js/libs/geradorarquivo.min.js"></script> -->
        <script src="../js/libs/printThis.js"></script>

        <%- include(partials + 'footer.ejs' ) %>