<option value="KM 1">KM 1</option>
<option value="KM 28">KM 28</option>
<option value="YPANÉ">YPANÉ</option>
<option value="AC. KM 1">AC. KM 1</option>
<option value="LOG. HERRAMIENTAS">LOG. HERRAMIENTAS</option>
<option value="LOG. VEHÍCULOS">LOG. VEHÍCULOS</option>
<option value="LOG. EQUIPOS">LOG. EQUIPOS</option>
<option value="P. Seguro">P. Seguro</option>
<option value="P. Terport">P. Terport</option>
<option value="P. Fenix">P. Fenix</option>
<option value="PJC">PJC</option>
<option value="Itapua">Itapua</option>
<option value="Salto">Salto</option>
<option value="Pindoty">Pindoty</option>
<option value="Santa Rita">Santa Rita</option>
<option value="Fernando de la Mora">Fernando de la Mora</option>
<option value="MRA">MRA</option>
<option value="San Lorenzo">San Lorenzo</option>
<option value="Ñemby">Ñemby</option>
<option value="Chacoi">Chacoi</option>
<option value="Sobre ruta 2">Sobre ruta 2</option>
<option value="Caaguazu">Caaguazu</option>
<option value="Campo 9">Campo 9</option>
<option value="Campo 8">Campo 8</option>
<option value="Villarrica">Villarrica</option>
<option value="Chaco">Chaco</option>
<option value="Villeta">Villeta</option>
<option value="Eusebio Ayala">Eusebio Ayala</option>
<option value="CaacupeMi">CaacupeMi</option>
<option value="Pillar">Pillar</option>
<option value="Villa Elisa">Villa Elisa</option>
<option value="Nasser">Nasser</option>
<option value="Centrales Ypané">Centrales Ypané</option>
<option value="Canindeyu">Canindeyu</option>
<option value="Zona Franca km11">Zona Franca km11</option>
<option value="Hernandarias">Hernandarias</option>