<option value="1">KM 1</option>
<option value="2">KM 28</option>
<option value="3">YPANÉ</option>
<option value="4">AC. KM 1</option>
<option value="5">LOG. HERRAMIENTAS</option>
<option value="6">LOG. VEHÍCULOS</option>
<option value="7">LOG. EQUIPOS</option>
<option value="8">P. Seguro</option>
<option value="9">P. Terport</option>
<option value="10">P. Fenix</option>
<option value="11">PJC</option>
<option value="12">Itapua</option>
<option value="13">Salto</option>
<option value="14">Pindoty</option>
<option value="15">Santa Rita</option>
<option value="16">Fernando de la Mora</option>
<option value="17">MRA</option>
<option value="18">San Lorenzo</option>
<option value="19">Ñemby</option>
<option value="20">Chacoi</option>
<option value="21">Sobre ruta 2</option>
<option value="22">Caaguazu</option>
<option value="23">Campo 9</option>
<option value="24">Campo 8</option>
<option value="25">Villarrica</option>
<option value="26">Chaco</option>
<option value="27">Villeta</option>
<option value="28">Eusebio Ayala</option>
<option value="29">CaacupeMi</option>
<option value="30">Pillar</option>
<option value="31">Villa Elisa</option>
<option value="32">Nasser</option>
<option value="33">Centrales Ypané</option>
<option value="34">Canindeyu</option>
<option value="35">Zona Franca km11</option>
<option value="36">Hernandarias</option>
<option value="37">Cap. Bado</option>
<option value="38">Villa Hayes</option> 
<option value="39">Saltos/Pindoty</option>